<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Sign Up</h5>
            <form class="form-signin">

              <div class="form-label-group">
                <%= f.label :first_name %><br />
                <%= f.text_field :first_name, autofocus: true, class:"form-control", placeholder:"First Name"%>
              </div>

              <div class="form-label-group">
                <%= f.label :last_name %><br />
                <%= f.text_field :last_name, class:"form-control", placeholder:"Last Name"%>
              </div>

              <div class="form-label-group">
                <%= f.label :username %><br />
                <%= f.text_field :username, class:"form-control", placeholder:"Username"%>
              </div>

              <div class="form-label-group">
                <%= f.label :email %><br />
                <%= f.email_field :email, class:"form-control", placeholder:"Email address"%>
              </div>

              <div class="form-label-group">
                <%= f.label :password %><br />
                <%= f.password_field :password, class:"form-control", placeholder:"Password"%>
              </div>

              <div class="form-label-group">
                <%= f.label :password_confirmation %><br />
                <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control", placeholder:"Password" %>
              </div>

              <%= f.submit "Sign up", class:"btn btn-lg btn-primary btn-block text-uppercase" %>
              <hr class="my-4">
              <%= render "devise/shared/links" %>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

