.container
  .row
    .col-2
    .col-8.sign-up-form.mt-3
      h3 Profile
      hr
      .row
        .col-6.avatar.border-right
          img.img-fluid src="https://i.pinimg.com/originals/57/dc/69/57dc695c383af1aaf38798eaccceb4e5.jpg" alt="avatar"
        .col-6
          form
            .form-row
              .form-group.col-md-12
                label for="inputEmail4" Email
                input#inputEmail4.form-control type="email" placeholder="someone@domain.com" readonly="true" value="#{@current_user.email}"
            .form-row
              .form-group.col-md-6
                label First Name
                input.form-control placeholder="First name" readonly="true" value="#{@current_user.first_name}"
              .form-group.col-md-6
                label Last Name
                input.form-control placeholder="Last name" readonly="true" value="#{@current_user.last_name}"
      hr/
      h3 My needs
      hr/
      .row

        ul.list-group.p-3
          li.list-group-item
            .form-group
              - unless @current_user.needed_books.first.nil?
                label Book 1
                = form_for @current_user.needed_books.first, remote: true do |form|
                  .row
                    .col-5
                      = form.text_field :title, placeholder:"Book title", value:"#{@current_user.needed_books.first.title}", class:"form-control"
                    .col-5
                      = form.text_field :author, placeholder:"Book title", value:"#{@current_user.needed_books.first.author}", class:"form-control"
                    .col-2
                      = form.submit "Edit", class:"btn btn-warning"
              - unless @current_user.needed_books.find_by_id(2).nil?
                label Book 2
                = form_for @current_user.needed_books.find_by_id(2), remote: true do |form|
                  .row
                    .col-5
                      = form.text_field :title, placeholder:"Book title", value:"#{@current_user.needed_books.find(2).title}", class:"form-control"
                    .col-5
                      = form.text_field :author, placeholder:"Book title", value:"#{@current_user.needed_books.find(2).author}", class:"form-control"
                    .col-2
                      = form.submit "Edit", class:"btn btn-warning"
              - unless @current_user.needed_books.find_by_id(3).nil?
                label Book 3
                = form_for @current_user.needed_books.find_by_id(3), remote: true do |form|
                  .row
                    .col-5
                      = form.text_field :title, placeholder:"Book title", value:"#{@current_user.needed_books.find(3).title}", class:"form-control"
                    .col-5
                      = form.text_field :author, placeholder:"Book title", value:"#{@current_user.needed_books.find(3).author}", class:"form-control"
                    .col-2
                      = form.submit "Edit", class:"btn btn-warning"

