
<div class="row">
  <div class="col-2">
    <div class="sidenav">
        <% if @current_user  %>
      <h2 class="w-100 btn btn-primary text-white">
        <%= link_to 'Add book', new_book_url, class: "text-white" %>
      </h2>
        <% end  %>
      <h2 class="ml-2">Latest books</h2>
      <% Book.order(created_at: :DESC).first(5).each do |book| %>
        <%= link_to "#{book.title}", book_url(book), class: "book-item"%>
      <% end  %>

    </div>
  </div>
  <div class="col-10">
    <div class="container">
      <div class="row">
          <% @books.each do |book| %>
            <div class="col-3 mt-3">
              <div class="card item px-2">
                <% if book.image %>
                  <%= image_tag book.image, class: "card-img-top" %>
                <% end %>
                <div class="card-body">
                  <%= link_to book_url(book) do %>
                    <h5 class="card-title"><%= book.title%></h5>
                  <% end %>
                  <p class="card-text"><%= book.author%></p>
                  <p class="card-text"><%= book.current_owner&.name || ''%></p>
                  <p class="card-text"><%= book.publication_year%></p>
                  <%
                  case book.state
                  when 'sell'
                    badge_class = 'badge-danger'
                  when 'exchange'
                    badge_class = 'badge-success'
                  else
                    badge_class = 'badge-warning'
                  end
                  %>
                  <span class="<%="badge #{badge_class}"%>"><%= book.state %></span>
                </div>
              </div>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</div>

