<%= form_for @book, remote: true do |f| %>

<div class="wrapper">
    <h1 class="main-title text-center">Add book from</h1>
    <div class="container">
      <form class="form-main">
        <h3 class="form-title">Complete form to add book!</h3>
        <div class="form-group row">
          <div class="left-col col-12 col-sm-12 col-md-6 col-lg-6">
            <%= f.label :title %><br>
          </div>
          <div class="right-col col-12 col-sm-12 col-md-6 col-lg-6">
            <%= f.text_field :title, class: "input-text form-control" %>
          </div>

        </div>
        <div class="form-group row">
          <div class="left-col col-12 col-sm-12 col-md-6 col-lg-6">
            <%= f.label :author %><br>
          </div>
          <div class="right-col col-12 col-sm-12 col-md-6 col-lg-6">
            <%= f.text_field :title, class: "input-text form-control", placeholder: "Enter author name" %>
          </div>

        </div>

        <div class="form-group row">
          <div class="left-col col-12 col-sm-12 col-md-6 col-lg-6">
            <%= f.label :image %><br>

          </div>
          <div class="right-col col-12 col-sm-12 col-md-6 col-lg-6">
            <%= f.text_field :image, class: "input-text form-control", placeholder: "Enter image url" %>
          </div>

        </div>

        <div class="form-group row">
          <div class="left-col col-12 col-sm-12 col-md-6 col-lg-6">
            <%= f.label :publication_year %><br>

          </div>
          <div class="right-col col-12 col-sm-12 col-md-6 col-lg-6">
            <%= f.text_field :publication_year, class: "input-text form-control", placeholder: "Enter book year" %>
          </div>

        </div>



        <div class="form-group row">
          <div class="left-col col-12 col-sm-12 col-md-6 col-lg-6">
            <%= f.label :summary %><br>
          </div>
          <div class="right-col col-12 col-sm-12 col-md-6 col-lg-6">
            <%= f.text_field :summary, class: "input-text form-control", placeholder: "Enter image url", placeholder: "Write something about book :)" %>
          </div>

        </div>
        <div class="form-group row">
          <div class="dropdown row">
          <p>
            <%= f.label :state, class: "col-6"%><br>
            <%= f.select :state, ['sell', 'borrow', 'exchange'], class: "dropdown-menu col-6"%>
          </p>
          </div>
        </div>


        <div class="text-center group-btn">
          <%= f.submit %>

        </div>
      </form>
    </div>
  </div>
<% end %>