<div class="container-fluid">
  <div class="row">
    <div class="col-2 border border-dark" id="left">
      <h4 class="text-center title-mini border border-dark">Category</h4>
      <div class="row">
        <div class="col">
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link" href="#">Romance</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Actions</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Fantasy</a>
            </li>
          </ul>
        </div>
      </div>
      <h4 class="text-center title-mini border border-dark">Hot</h4>
      <div class="row">
        <div class="col">
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link" href="#">Item 1...</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Item 2...</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Item 3...</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Item 4...</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Item 5...</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-10 border border-dark">
      <h4 class="title-center">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><%= link_to 'Home', books_path %></li>
            <li class="breadcrumb-item active" aria-current="page"><%= link_to "#{@book.title}", book_path(@book) %></li>
          </ol>
        </nav>
      </h4>
      <div class="row product-top">
        <div class="col-6 left">
          <div class="big-image">
            <% if @book.image %>
            <%= image_tag @book.image, class: 'img-fluid' %>
            <% end %>
          </div>
        </div>
        <div class="col-6 right">
          <h2 class="product-title text-capitalize"><%= @book.title%></h2>
          <h4 class="title-author">Author: <i><%= @book.author%></i> </h4>
          <h4 class="one-descrip"><b>Current ownner:</b> <%= @book.current_owner&.name || ''%> </h4>
          <h4 class="one-descrip">
            <b>Status:</b>
            <%
              case @book.state
              when 'sell'
                badge_class = 'badge-danger'
              when 'exchange'
                badge_class = 'badge-success'
              else
                badge_class = 'badge-warning'
              end
            %>
            <span class="<%="badge #{badge_class}"%>"><%= @book.state %></span>
          </h4>
          <h3 class="title-sum">Summary:</h3>
          <p class="summary-content">
            <%= @book.summary%>
          </p>
          <div class="action text-center">
            <button type="button" class="btn btn-success m-auto">Book Now</button>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>