<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Sign In</h5>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-label-group">
              <%= f.email_field :email, id:"inputEmail", class:"form-control", placeholder:"Email address", required: true,
                autofocus: true %><br />
              <%= f.label :email %>
            </div>
            <div class="form-label-group">
              <%= f.password_field :password, autocomplete: "current-password", id:"inputPassword", class:"form-control", placeholder:"Password", required:true %>
              <%= f.label :password %><br />
            </div>
            <% if devise_mapping.rememberable? %>
              <div class="field">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            <% end %>

            <div class="actions">
              <%= f.submit "Log in", class:"btn btn-lg btn-primary btn-block text-uppercase" %>
            </div>
            <hr class="my-4">
          <% end %>

          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>

