/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require login
 *= require_tree .
 *= require_self
 */

.item:hover {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.41);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.41);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.41);
}

.item img {
  width: 100%;
  overflow-y:hidden;
  height: 200px;
  object-fit: cover;
}

.sign-up-form {
  border-radius: 20px;
  border: 1px black solid;
  padding: 20px;
}

.card-title{
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  overflow-x: hidden;
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #cdcdcd;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}
