:root {
  --input-padding-x:1.5rem;
  --input-padding-y:0.75rem;
}


.card-signin {
  border: 0;
  border-radius: 1rem;
  -webkit-box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);

  .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.5rem;
  }

  .card-body {
    padding: 2rem;
  }
}

.form-signin {
  width: 100%;

  .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;

  input {
    height: auto;
    border-radius: 2rem;

    &::-webkit-input-placeholder, &:-ms-input-placeholder, &::-ms-input-placeholder, &::placeholder {
      color: transparent;
    }

    &:not(:placeholder-shown) {
      padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
      padding-bottom: calc(var(--input-padding-y) / 3);

      ~ label {
        padding-top: calc(var(--input-padding-y) / 3);
        padding-bottom: calc(var(--input-padding-y) / 3);
        font-size: 12px;
        color: #777;
      }
    }
  }

  > {
    input {
      padding: var(--input-padding-y) var(--input-padding-x);
    }

    label {
      padding: var(--input-padding-y) var(--input-padding-x);
      position: absolute;
      top: -20px;
      left: 0;
      display: block;
      width: 100%;
      margin-bottom: 0;
      line-height: 1.5;
      color: #495057;
      border: 1px solid transparent;
      border-radius: .25rem;
      -webkit-transition: all .1s ease-in-out;
      transition: all 0.1s ease-in-out;
    }
  }
}

.btn-google {
  color: white;
  background-color: #ea4335;
}

.btn-facebook {
  color: white;
  background-color: #3b5998;
}

@supports (-ms-ime-align: auto) {
  .form-label-group {
    > label {
      display: none;
    }

    input::-ms-input-placeholder {
      color: #777;
    }
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .form-label-group {
    > label {
      display: none;
    }

    input:-ms-input-placeholder {
      color: #777;
    }
  }
}
