.item:hover {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.41);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.41);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.41);
}

.item img {
  width: 100%;
  overflow-y:hidden;
}

.sign-up-form {
  border-radius: 20px;
  border: 1px black solid;
  padding: 20px;
}

.avatar img{
  width: 300px !important;
  height: 300px !important;
  object-fit: cover;
}